APScheduler==3.6.3
asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
decorator==4.4.2
Django==3.1.4
django-environ==0.4.5
flake8==3.8.4
idna==2.10
joblib==1.0.0
mccabe==0.6.1
nltk==3.5
Pillow==8.0.1
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pytz==2020.4
regex==2020.11.13
six==1.15.0
sorl-thumbnail==12.7.0
soupsieve==2.1
sqlparse==0.4.1
tornado==6.1
tqdm==4.54.1
tzlocal==2.1
urllib3==1.26.2
